<!DOCTYPE html>
<html>
    <header>
        <head>Welcome Check Status</head>
    </header>

    <body>
        <h1>Check theft Status OR Register a theft </h1>
        <h3>Before buying second hand phone check the Status</h3>
        <h3>If your phone got lost register the complaint</h3>

        <div>
            <nav>
                <ul>
                  <li><a href="..">Home</a></li>
                  <li><a href="../report/register">Report Lost</a></li>
                  <li><a href="../report/report">Check Status</a></li>
                </ul>
              </nav>
        </div>
        
    </body>
</html>